ALLOWED_HOSTS=host.com,another-host.com
ADMIN_EMAIL=admin
ADMIN_PASSWORD=password
COMPANY_NAME=My Company
SUBSIDIARY_NAME=My Subsidiary
COUNTIES=County A,County B,County C
ACTIVITIES=Activity 1,Activity 2